:root {
  --accent-color: #800020;
  --background-dark: #1e1e1e;
  --background-medium: #2a2a2a;
}

#root {
  height: 100dvh;
  color: #fff;
  width: 100dvw;
  overflow-x: hidden;
  background-color: var(--background-dark);
}

.btn-accent {
  background: var(--accent-color) !important;
  color: #fff;
}

.bg-dark {
  background-color: var(--background-dark) !important;
}

.bg-black {
  background-color: #000;
}

.bg-medium {
  background-color: var(--background-medium);
}

.text-accent {
  color: var(--accent-color);
}

.movie-details-poster {
  height: 40rem;
}

.movies-listings {
  display: flex;
  justify-content: center;
  flex: wrap;
}

.movie-card img {
  transition: 0.3 ease;
}

.movie-card p,
span {
  opacity: 0.7;
}

.cast-list {
  max-height: 10rem;
  overflow-y: auto;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.navbar {
  background-color: var(--background-dark);
  position: sticky;
  top: 0;
  z-index: 1000;
}

::-webkit-scrollbar {
  width: 0.33em;
}

::-webkit-scrollbar-track {
  background: var(--background-medium);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 100vw;
}